*{
    /*border: black solid 1px;*/
}
body{
    background-color: dimgray;
}
#midi > div{
    display: flex;
    flex-direction: row;
}
#midi > div > div{
    background-color: rgb(0, 217, 255);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 2px;
    background-image: linear-gradient(rgb(0, 217, 255), rgb(17, 171, 199));
}
#synth{
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 100%;
}
#synth > div > div{
    min-width: 100px;
    min-height: 100px;
}